![](https://assets.datacamp.com/production/course_723/shields/thumb/shield_image_course_723_20190828-1-1qucbk7?1567003204)
# Introduction and Exproling Raw data

An overview of the process of data cleaning with R and the basics of exploring raw data.

## Introduction to Cleaning Data in R

The Essential Parts of a Data Cleaning Process
--------------------------------------------------

1. Exploring raw data
2. Tidying data
3. Preparing data for analysis

>  No one likes missing data, but it is dangerous to assume that it can simply be removed or replaced. Sometimes missing data tells us something important about whatever it is that we're measuring (i.e. the value of the variable that is missing may be related to - the reason it is missing). Such data is called Missing not at Random, or MNAR.

We are presented with a messy, real-world dataset containing an entire year's worth of weather data from Boston, USA. Among other things, we'll be presented with variables that contain column names, column names that should be values, numbers coded as character strings, and values that are missing, extreme, and downright erroneous!

## Exploring raw data

### Getting a feel for your data

In [17]:
library(readr)
library(dplyr)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
weather = readRDS(gzcon(url('https://assets.datacamp.com/production/repositories/34/datasets/b3c1036d9a60a9dfe0f99051d2474a54f76055ea/weather.rds')))

In [7]:
class(weather)

[1] "data.frame"

In [3]:
head(weather)

  X year month measure           X1 X2 X3 X4 X5 X6 ... X22 X23 X24 X25 X26 X27
1 1 2014 12    Max.TemperatureF  64 42 51 43 42 45 ... 44  47  46  59  50  52
2 2 2014 12    Mean.TemperatureF 52 38 44 37 34 42 ... 39  45  44  52  44  45
3 3 2014 12    Min.TemperatureF  39 33 37 30 26 38 ... 33  42  41  44  37  38
4 4 2014 12    Max.Dew.PointF    46 40 49 24 37 45 ... 39  45  46  58  31  34
5 5 2014 12    MeanDew.PointF    40 27 42 21 25 40 ... 34  42  44  43  29  31
6 6 2014 12    Min.DewpointF     26 17 24 13 12 36 ... 25  37  41  29  28  29
  X28 X29 X30 X31
1 52  41  30  30
2 46  36  26  25
3 40  30  22  20
4 42  26  10  8
5 35  20  4   5
6 27  10  -6  1

In [4]:
tail(weather)

    X   year month measure            X1   X2 X3 X4 X5 X6 ... X22 X23 X24 X25
281 281 2015 12    Mean.Wind.SpeedMPH 6    NA NA NA NA NA ... NA  NA  NA  NA
282 282 2015 12    Max.Gust.SpeedMPH  17   NA NA NA NA NA ... NA  NA  NA  NA
283 283 2015 12    PrecipitationIn    0.14 NA NA NA NA NA ... NA  NA  NA  NA
284 284 2015 12    CloudCover         7    NA NA NA NA NA ... NA  NA  NA  NA
285 285 2015 12    Events             Rain NA NA NA NA NA ... NA  NA  NA  NA
286 286 2015 12    WindDirDegrees     109  NA NA NA NA NA ... NA  NA  NA  NA
    X26 X27 X28 X29 X30 X31
281 NA  NA  NA  NA  NA  NA
282 NA  NA  NA  NA  NA  NA
283 NA  NA  NA  NA  NA  NA
284 NA  NA  NA  NA  NA  NA
285 NA  NA  NA  NA  NA  NA
286 NA  NA  NA  NA  NA  NA

In [5]:
str(weather)

'data.frame':	286 obs. of  35 variables:
 $ X      : int  1 2 3 4 5 6 7 8 9 10 ...
 $ year   : int  2014 2014 2014 2014 2014 2014 2014 2014 2014 2014 ...
 $ month  : int  12 12 12 12 12 12 12 12 12 12 ...
 $ measure: chr  "Max.TemperatureF" "Mean.TemperatureF" "Min.TemperatureF" "Max.Dew.PointF" ...
 $ X1     : chr  "64" "52" "39" "46" ...
 $ X2     : chr  "42" "38" "33" "40" ...
 $ X3     : chr  "51" "44" "37" "49" ...
 $ X4     : chr  "43" "37" "30" "24" ...
 $ X5     : chr  "42" "34" "26" "37" ...
 $ X6     : chr  "45" "42" "38" "45" ...
 $ X7     : chr  "38" "30" "21" "36" ...
 $ X8     : chr  "29" "24" "18" "28" ...
 $ X9     : chr  "49" "39" "29" "49" ...
 $ X10    : chr  "48" "43" "38" "45" ...
 $ X11    : chr  "39" "36" "32" "37" ...
 $ X12    : chr  "39" "35" "31" "28" ...
 $ X13    : chr  "42" "37" "32" "28" ...
 $ X14    : chr  "45" "39" "33" "29" ...
 $ X15    : chr  "42" "37" "32" "33" ...
 $ X16    : chr  "44" "40" "35" "42" ...
 $ X17    : chr  "49" "45" "41" "46" ...
 $ X18    : chr  "44" "40" "36" "34" ...
 $ X19    : chr  "37" "33" "29" "25" ...
 $ X20    : chr  "36" "32" "27" "30" ...
 $ X21    : chr  "36" "33" "30" "30" ...
 $ X22    : chr  "44" "39" "33" "39" ...
 $ X23    : chr  "47" "45" "42" "45" ...
 $ X24    : chr  "46" "44" "41" "46" ...
 $ X25    : chr  "59" "52" "44" "58" ...
 $ X26    : chr  "50" "44" "37" "31" ...
 $ X27    : chr  "52" "45" "38" "34" ...
 $ X28    : chr  "52" "46" "40" "42" ...
 $ X29    : chr  "41" "36" "30" "26" ...
 $ X30    : chr  "30" "26" "22" "10" ...
 $ X31    : chr  "30" "25" "20" "8" ...

In [6]:
dim(weather)

[1] 286  35

In [9]:
bmi=read_csv('https://assets.datacamp.com/production/repositories/34/datasets/a0a569ebbb34500d11979eba95360125127e6434/bmi_clean.csv')

Parsed with column specification:
cols(
  .default = col_double(),
  Country = col_character()
)
See spec(...) for full column specifications.

In [10]:
class(bmi)

[1] "spec_tbl_df" "tbl_df"      "tbl"         "data.frame"

In [11]:
dim(bmi)

[1] 199  30

In [12]:
head(bmi)

  Country             Y1980    Y1981    Y1982    Y1983    Y1984    Y1985
1 Afghanistan         21.48678 21.46552 21.45145 21.43822 21.42734 21.41222
2 Albania             25.22533 25.23981 25.25636 25.27176 25.27901 25.28669
3 Algeria             22.25703 22.34745 22.43647 22.52105 22.60633 22.69501
4 Andorra             25.66652 25.70868 25.74681 25.78250 25.81874 25.85236
5 Angola              20.94876 20.94371 20.93754 20.93187 20.93569 20.94857
6 Antigua and Barbuda 23.31424 23.39054 23.45883 23.53735 23.63584 23.73109
  Y1986    Y1987    Y1988    ... Y1999    Y2000    Y2001    Y2002    Y2003
1 21.40132 21.37679 21.34018 ... 20.75469 20.69521 20.62643 20.59848 20.58706
2 25.29451 25.30217 25.30450 ... 25.46555 25.55835 25.66701 25.77167 25.87274
3 22.76979 22.84096 22.90644 ... 23.69486 23.77659 23.86256 23.95294 24.05243
4 25.89089 25.93414 25.98477 ... 26.75078 26.83179 26.92373 27.02525 27.12481
5 20.96030 20.98025 21.01375 ... 21.31954 21.37480 21.43664 21.51765 21.59924
6 23.83449 23.93649 24.05364 ... 24.91721 24.99158 25.05857 25.13039 25.20713
  Y2004    Y2005    Y2006    Y2007    Y2008
1 20.57759 20.58084 20.58749 20.60246 20.62058
2 25.98136 26.08939 26.20867 26.32753 26.44657
3 24.15957 24.27001 24.38270 24.48846 24.59620
4 27.23107 27.32827 27.43588 27.53363 27.63048
5 21.69218 21.80564 21.93881 22.08962 22.25083
6 25.29898 25.39965 25.51382 25.64247 25.76602

In [13]:
tail(bmi)

  Country            Y1980    Y1981    Y1982    Y1983    Y1984    Y1985
1 Venezuela          24.58052 24.69666 24.80082 24.89208 24.98440 25.07104
2 Vietnam            19.01394 19.03902 19.06804 19.09675 19.13046 19.16397
3 West Bank and Gaza 24.31624 24.40192 24.48713 24.57107 24.65582 24.74148
4 Yemen, Rep.        22.90384 22.96813 23.02669 23.07279 23.12566 23.16944
5 Zambia             19.66295 19.69512 19.72538 19.75420 19.78070 19.80335
6 Zimbabwe           21.46989 21.48867 21.50738 21.52936 21.53383 21.54341
  Y1986    Y1987    Y1988    ... Y1999    Y2000    Y2001    Y2002    Y2003
1 25.15587 25.24624 25.35274 ... 26.50035 26.61021 26.71688 26.79210 26.85498
2 19.19740 19.23481 19.27090 ... 20.02081 20.10343 20.18623 20.27145 20.36402
3 24.82984 24.91615 25.00108 ... 26.28240 26.39074 26.45700 26.48925 26.51152
4 23.20933 23.25043 23.29401 ... 23.85482 23.92467 23.99129 24.05692 24.12459
5 19.82396 19.85065 19.88320 ... 20.15094 20.17261 20.20266 20.24298 20.29474
6 21.54859 21.54590 21.55396 ... 21.68873 21.72652 21.76514 21.79645 21.82499
  Y2004    Y2005    Y2006    Y2007    Y2008
1 26.95162 27.05633 27.17698 27.30849 27.44500
2 20.46585 20.57277 20.68655 20.80189 20.91630
3 26.52924 26.54329 26.54449 26.55460 26.57750
4 24.19204 24.25638 24.32120 24.37949 24.44157
5 20.35966 20.43398 20.51422 20.59770 20.68321
6 21.85806 21.89495 21.93371 21.97405 22.02660

In [14]:
str(bmi)

tibble [199 x 30] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ Country: chr [1:199] "Afghanistan" "Albania" "Algeria" "Andorra" ...
 $ Y1980  : num [1:199] 21.5 25.2 22.3 25.7 20.9 ...
 $ Y1981  : num [1:199] 21.5 25.2 22.3 25.7 20.9 ...
 $ Y1982  : num [1:199] 21.5 25.3 22.4 25.7 20.9 ...
 $ Y1983  : num [1:199] 21.4 25.3 22.5 25.8 20.9 ...
 $ Y1984  : num [1:199] 21.4 25.3 22.6 25.8 20.9 ...
 $ Y1985  : num [1:199] 21.4 25.3 22.7 25.9 20.9 ...
 $ Y1986  : num [1:199] 21.4 25.3 22.8 25.9 21 ...
 $ Y1987  : num [1:199] 21.4 25.3 22.8 25.9 21 ...
 $ Y1988  : num [1:199] 21.3 25.3 22.9 26 21 ...
 $ Y1989  : num [1:199] 21.3 25.3 23 26 21.1 ...
 $ Y1990  : num [1:199] 21.2 25.3 23 26.1 21.1 ...
 $ Y1991  : num [1:199] 21.2 25.3 23.1 26.2 21.1 ...
 $ Y1992  : num [1:199] 21.1 25.2 23.2 26.2 21.1 ...
 $ Y1993  : num [1:199] 21.1 25.2 23.3 26.3 21.1 ...
 $ Y1994  : num [1:199] 21 25.2 23.3 26.4 21.1 ...
 $ Y1995  : num [1:199] 20.9 25.3 23.4 26.4 21.2 ...
 $ Y1996  : num [1:199] 20.9 25.3 23.5 26.5 21.2 ...
 $ Y1997  : num [1:199] 20.8 25.3 23.5 26.6 21.2 ...
 $ Y1998  : num [1:199] 20.8 25.4 23.6 26.7 21.3 ...
 $ Y1999  : num [1:199] 20.8 25.5 23.7 26.8 21.3 ...
 $ Y2000  : num [1:199] 20.7 25.6 23.8 26.8 21.4 ...
 $ Y2001  : num [1:199] 20.6 25.7 23.9 26.9 21.4 ...
 $ Y2002  : num [1:199] 20.6 25.8 24 27 21.5 ...
 $ Y2003  : num [1:199] 20.6 25.9 24.1 27.1 21.6 ...
 $ Y2004  : num [1:199] 20.6 26 24.2 27.2 21.7 ...
 $ Y2005  : num [1:199] 20.6 26.1 24.3 27.3 21.8 ...
 $ Y2006  : num [1:199] 20.6 26.2 24.4 27.4 21.9 ...
 $ Y2007  : num [1:199] 20.6 26.3 24.5 27.5 22.1 ...
 $ Y2008  : num [1:199] 20.6 26.4 24.6 27.6 22.3 ...
 - attr(*, "spec")=
  .. cols(
  ..   Country = col_character(),
  ..   Y1980 = col_double(),
  ..   Y1981 = col_double(),
  ..   Y1982 = col_double(),
  ..   Y1983 = col_double(),
  ..   Y1984 = col_double(),
  ..   Y1985 = col_double(),
  ..   Y1986 = col_double(),
  ..   Y1987 = col_double(),
  ..   Y1988 = col_double(),
  ..   Y1989 = col_double(),
  ..   Y1990 = col_double(),
  ..   Y1991 = col_double(),
  ..   Y1992 = col_double(),
  ..   Y1993 = col_double(),
  ..   Y1994 = col_double(),
  ..   Y1995 = col_double(),
  ..   Y1996 = col_double(),
  ..   Y1997 = col_double(),
  ..   Y1998 = col_double(),
  ..   Y1999 = col_double(),
  ..   Y2000 = col_double(),
  ..   Y2001 = col_double(),
  ..   Y2002 = col_double(),
  ..   Y2003 = col_double(),
  ..   Y2004 = col_double(),
  ..   Y2005 = col_double(),
  ..   Y2006 = col_double(),
  ..   Y2007 = col_double(),
  ..   Y2008 = col_double()
  .. )

In [18]:
glimpse(bmi)

Rows: 199
Columns: 30
$ Country <chr> "Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "...
$ Y1980   <dbl> 21.48678, 25.22533, 22.25703, 25.66652, 20.94876, 23.31424,...
$ Y1981   <dbl> 21.46552, 25.23981, 22.34745, 25.70868, 20.94371, 23.39054,...
$ Y1982   <dbl> 21.45145, 25.25636, 22.43647, 25.74681, 20.93754, 23.45883,...
$ Y1983   <dbl> 21.43822, 25.27176, 22.52105, 25.78250, 20.93187, 23.53735,...
$ Y1984   <dbl> 21.42734, 25.27901, 22.60633, 25.81874, 20.93569, 23.63584,...
$ Y1985   <dbl> 21.41222, 25.28669, 22.69501, 25.85236, 20.94857, 23.73109,...
$ Y1986   <dbl> 21.40132, 25.29451, 22.76979, 25.89089, 20.96030, 23.83449,...
$ Y1987   <dbl> 21.37679, 25.30217, 22.84096, 25.93414, 20.98025, 23.93649,...
$ Y1988   <dbl> 21.34018, 25.30450, 22.90644, 25.98477, 21.01375, 24.05364,...
$ Y1989   <dbl> 21.29845, 25.31944, 22.97931, 26.04450, 21.05269, 24.16347,...
$ Y1990   <dbl> 21.24818, 25.32357, 23.04600, 26.10936, 21.09007, 24.26782,...
$ Y1991   <dbl> 21.20269, 25.28452, 23.11333, 26.17912, 21.12136, 24.36568,...
$ Y1992   <dbl> 21.14238, 25.23077, 23.18776, 26.24017, 21.14987, 24.45644,...
$ Y1993   <dbl> 21.06376, 25.21192, 23.25764, 26.30356, 21.13938, 24.54096,...
$ Y1994   <dbl> 20.97987, 25.22115, 23.32273, 26.36793, 21.14186, 24.60945,...
$ Y1995   <dbl> 20.91132, 25.25874, 23.39526, 26.43569, 21.16022, 24.66461,...
$ Y1996   <dbl> 20.85155, 25.31097, 23.46811, 26.50769, 21.19076, 24.72544,...
$ Y1997   <dbl> 20.81307, 25.33988, 23.54160, 26.58255, 21.22621, 24.78714,...
$ Y1998   <dbl> 20.78591, 25.39116, 23.61592, 26.66337, 21.27082, 24.84936,...
$ Y1999   <dbl> 20.75469, 25.46555, 23.69486, 26.75078, 21.31954, 24.91721,...
$ Y2000   <dbl> 20.69521, 25.55835, 23.77659, 26.83179, 21.37480, 24.99158,...
$ Y2001   <dbl> 20.62643, 25.66701, 23.86256, 26.92373, 21.43664, 25.05857,...
$ Y2002   <dbl> 20.59848, 25.77167, 23.95294, 27.02525, 21.51765, 25.13039,...
$ Y2003   <dbl> 20.58706, 25.87274, 24.05243, 27.12481, 21.59924, 25.20713,...
$ Y2004   <dbl> 20.57759, 25.98136, 24.15957, 27.23107, 21.69218, 25.29898,...
$ Y2005   <dbl> 20.58084, 26.08939, 24.27001, 27.32827, 21.80564, 25.39965,...
$ Y2006   <dbl> 20.58749, 26.20867, 24.38270, 27.43588, 21.93881, 25.51382,...
$ Y2007   <dbl> 20.60246, 26.32753, 24.48846, 27.53363, 22.08962, 25.64247,...
$ Y2008   <dbl> 20.62058, 26.44657, 24.59620, 27.63048, 22.25083, 25.76602,...